body{min-height: 100vh;
background-color: rgb(34, 32, 32);}

#root{min-height: 100vh;}

.principal{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  height: 100%;
  
}


*{font-size: 1.5rem;
color: white;}

.botonera button{margin:5px;
width: 60px;
color: black;}

.correct{background-color: rgb(2, 58, 2);}

.incorrect{background-color: rgb(236, 10, 10);}


.categorias button{margin:5px;
  width: 120px;
  color: aliceblue;
  
 }

 .botonera{display: flex;
flex-direction: column-reverse;
flex-wrap:nowrap;
width: 100%;
align-items: center;
justify-content: center;}
  

#tizi:hover{
  transform: rotate(45deg);
}