body{min-height: 100vh;
background-color: rgb(34, 32, 32);}

#root{min-height: 100vh;}

.principal{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  height: 100%;
  
}

.buscadacontainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
span{
  display: inline-block;
  width: 5%;
  margin-right: 1.5%;
}
.letrascontainer{
  display:flex;
  width:100vw;
}

*{font-size: 1.5rem;
color: white;}

.botonera button{margin:5px;
width: 60px;
color: black;}

.correct{background-color: rgb(2, 58, 2);}

.incorrect{background-color: rgb(236, 10, 10);}


.categorias button{margin:5px;
  width: 125px;
  color: aliceblue;
  
 }

 .botonera{display: flex;
flex-direction: column-reverse;
flex-wrap:nowrap;
width: 100%;
align-items: center;
justify-content: center;}
  
#tizi{
  width:15%; 
  height:20%}

#tizi:hover{
  transform: rotate(45deg);

}
.status{width:20%;
  height:20%;
  display:flex;
  justify-content:flex-end;               


}

.dropdown{display: inline-block;
font-size: 25px;
position: relative;
left: 20%;}
.dropdown-menu{background-color: rgb(51, 49, 49);}
.dropdown-item{font-size: 20px;
color: beige;}



.contenedor{
  display:grid;
  grid-template-columns: repeat(8 , 1fr);
  grid-gap: 10px; 
  grid-auto-rows: minmax(100px, auto);
 
}

.memoria{
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 50%;
}


.memoriaabsoluta{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  }


.cardfront{
background-color: rgb(224, 20, 20);
text-align: center;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 10;
border-radius: 50%;
}




.cardback{
  background-color: rgb(0, 255, 55);
  position: absolute;
  backface-visibility: hidden;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  border-radius: 50%;
  
}

img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}




.mostrar{
  z-index: 5;
}











































@media (max-width: 700px) {

  .categorias button{margin:5px;
    width: 90px;
    font-size: 10px;
    color: aliceblue;
  }
  #botonLetra{
    width: 5px;
    font-size: 5px;
  }

  .status{
          display:flex;
          justify-content:space-between;               
    
    
    }
  .status img{
    width:90%;
   
  }

  .buscadacontainer{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  span{
    display: flex;
    width: 6%;
    margin-right: 2%;
    font-size: 50%;
  }
  h3{font-size: 20px;
  
  
  }}

  
.categoria{
  color: rgb(240, 90, 230);
}
